.mainContainer{
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%

}

.textContainer{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 80%;
    background-color: gray;
    border-radius:25px 25px 10px 10px;
}