.mainContainer{
    display:flex;
    margin-top: 15%;
    justify-content:center;
    height: 100%;
    width: 100%

}


.headerBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2979FF;
    border-radius:25px 25px 0px 0px;
    height: 6%;
    width: 80%;
  }

  .leftInnferContainerHeaderBar{
      display: flex;
      align-items: center;
      color: whitesmoke;
      margin-left: 2%;
  }
  
